<template>
<div>
  <div style="margin: 20px;">
    Nombre de parties : <strong>{{ current.turn }}</strong>
  </div>
  <button v-on:click="restart">restart</button>
  <button style="margin-left: 10px" v-on:click="next">next step</button>
  <button style="margin-left: 10px" v-on:click="play">play</button>
  <button style="margin-left: 10px" v-on:click="stop">stop</button>
  <span style="margin-left: 40px"> speed: </span>
  <input v-model="speed" type="range" style="vertical-align: middle; margin-left: 10px;"/>
  <div>
    <span> nombre de billes initiales </span> <input v-model="nInit" type="number" />
    <span style="padding-left: 30px"> récompense </span> <input v-model="reward" type="number" />
    <span style="padding-left: 30px"> pénalité </span> <input v-model="penalty" type="number" />
  </div>
  <div class="playground">
    <span
      class="match"
      v-for='(n, index) in current.number'
      v-bind:key="index * 666"
      v-bind:class=" { last: (index + 1) % 3 == 0 } "
    >
      |
    </span>
  </div>
  <div
    class="player"
    v-for='player in players'
    v-bind:key="player.name"
  >
    <h1 style="color: #aaa;">
      Player {{ player.name }} - {{ player.wins }} wins
    </h1>
    <!-- <trend
      v-bind:data="player.perfHistory"
      height= 30
      smooth
    ></trend> -->
    <div
      v-for='(picker, pickerNumber) in player.pickers'
      v-bind:key="`${player.name} - ${picker.name}`"
    >
      <div
        v-bind:class="{
          picker: true,
          active: current.player === player.name && `${current.number}` === picker.name,
          played: picker.play !== undefined
        }"
        v-bind:style="{left: `${pickerNumber*200}px`}"
      >
        <div>
          <center>
            <span
              v-for='(n, index) in Number(picker.name)'
              v-bind:key="`${player.name} - ${picker.name} - match ${index}`"
              v-bind:class=" { last: (index + 1) % 3 == 0 } "
            >
              <strong>|</strong>
            </span></center>
        </div>
        <div class="pool" style="margin-top:20px;">
          <span
            v-for='(n, index) in picker.black'
            style='color: #654ff0; font-size: small;'
            v-bind:key="`${player.name} - ${picker.name} - black ${index}`"
          >
            ⬤
          </span>
          <span
            v-for='(n, index) in picker.white'
            style='color: #f7df1e; font-size: small;'
            v-bind:key="`${player.name} - ${picker.name} - white ${index}`"
          >
            ⬤
          </span>
        </div>
        <div class="picked" style="height: 30px; padding: 5px; background: white; font-size: x-large;">
          <div  v-if="picker.play !== undefined">
            <center>
              <span v-if="picker.play === 'white'" style="font-weight: bold; color: #f7df1e;">
                ⬤
              </span>
              <span v-else style="font-weight: bold; color: #654ff0;">
                ⬤
              </span>
            </center>
          </div>
          <div v-if="current.player === player.name && `${current.number}` === picker.name">
            <center>
              <span style="font-weight: bold;">
                ?
              </span>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
const otherPlayer = function (player) {
  return ( player === 'one' ? 'two' : 'one' )
}

const pick = function (picker) {
  const total = picker.white + picker.black
  const number = Math.floor(Math.random()*total) + 1
  const color = (
    number <= picker.white
    ? 'white'
    : 'black'
  )
  picker[color] --
  return color
}

const init = 2

export default {
  data: () => {
    return {
      speed: 20,
      playing: false,
      current: {
        turn: 1,
        number: 9,
        player: 'one'
      },
      nInit: init,
      reward: 2,
      penalty: 1,
      players: [
        {
          name: 'one',
          wins: 0,
          perfHistory: [],
          pickers: [
            { name: '1', black: 0, white: 1 },
            { name: '2', black: init, white: init },
            { name: '3', black: init, white: init },
            { name: '4', black: init, white: init },
            { name: '5', black: init, white: init },
            { name: '6', black: init, white: init },
            { name: '7', black: init, white: init },
            { name: '8', black: init, white: init },
            { name: '9', black: init, white: init }
          ]
        },
        {
          name: 'two',
          wins: 0,
          perfHistory: [],
          pickers: [
            { name: '1', black: 0, white: 1 },
            { name: '2', black: init, white: init },
            { name: '3', black: init, white: init },
            { name: '4', black: init, white: init },
            { name: '5', black: init, white: init },
            { name: '6', black: init, white: init },
            { name: '7', black: init, white: init },
            { name: '8', black: init, white: init },
            { name: '9', black: init, white: init }
          ]
        }
      ]
    }
  },
  computed: {
    tickDuration () {
      return (100 - this.speed) * 10
    }
  },
  methods: {
    init (winner) {
      // console.log(`${winner} wins`)
      this.current.number = 9
      this.current.turn++
      this.players.forEach((player) => {
        player.pickers.forEach((picker) => {
          if (picker.play !== undefined) {
            // Put back the draw into the pool
            picker[picker.play] += 1
            if (player.name === winner) {
              picker[picker.play] += Number(this.reward)
            } else {
              picker[picker.play] -= Number(this.penalty)
            }
          }
          if (picker.white === 0 && picker.black === 0) {
            picker.white = Number(this.nInit)
            picker.black = Number(this.nInit)
          }
          picker.play = undefined
        })
      })
    },
    restart () {
      this.current.number = 9
      this.current.turn = 0
      this.players.forEach((player) => {
        player.wins = 0
        player.pickers.forEach((picker) => {
          if (picker.name !== '1') {
            picker.white = Number(this.nInit)
            picker.black = Number(this.nInit)
          }
          picker.play = undefined
        })
      })
    },
    win (winner) {
      const player = this.players.find((value) => value.name === winner)
      player.wins += 1
      this.init(winner)
      player.perfHistory.push(player.wins/this.current.turn)
    },
    loose (looser) {
      this.win(otherPlayer(looser))
      const player = this.players.find((value) => value.name === looser)
      player.perfHistory.push(player.wins/this.current.turn)
    },
    next () {
      if ( this.current.number === 0 ) {
        this.loose(this.current.player)
      } else if ( this.current.number === 1 ) {
        this.win(this.current.player)
      } else {
        const player = this.players.find((value) => value.name === `${this.current.player}`)
        const picker = player.pickers.find((value) => value.name === `${this.current.number}`)
        const color = pick(picker)
        picker.play = color
        const number = ( color === 'white' ? 1 : 2 )
        this.current.number -= number
      }
      this.current.player = otherPlayer(this.current.player)
    },
    nextTick () {
      if (this.playing) {
        this.next()
        window.setTimeout(() => {
          this.nextTick()
        }, this.tickDuration)
      }
    },
    play () {
      this.playing = true
      this.nextTick()
    },
    stop () {
      this.playing = false
    },
    auto () {
      window.setInterval(this.next, this.speed*10)      
    }
  },
}
</script>

<style>
body {
  background: #eee;
  color: #666;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 20px;
  color: #35495e;
}

.player {
  position: relative;
  height: 300px;
  margin: 40px;
}

.picker {
  padding: 10px;
  position: absolute;
  width: 150px;
}

.pool {
  padding: 10px;
  /* background: #aaaaaa; */
  background: white;
  height: 150px;
  border: 1px solid #ddd;
  border-radius: 6px 6px 0px 0px;
}

.picked {
  border: 1px solid #ddd;
  border-top: 0px;
  border-radius: 0px 0px 6px 6px;
}

.match {
  color: black;
  font-size: 50pt;
  font-weight: bold;
}

.playground {
  margin: 20px;
  margin-left: 100px;
  padding: 20px;
  padding-left: 100px;
  background: white;
  width: 610px;
  height: 90px;
}

.active {
  /* background: white; */
  background: #e2e2e2;

}

.played {
  background: #ddd;
}

.last {
  padding-right: 6px;
}

.match.last {
  padding-right: 30px;
}
</style>
